doctype 
html

                                        
    body
        div
            h3 Test Modal
        div
            .col-md-10(id="modal")
        div
            button.btn.btn-primary(ng-click="enterData()") OK