doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        //script(src="/app/workout/dynamicFields.js")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
                                        
    body
        div.modal-header
            h3 Test Modal
        div.modal-body
            .col-md-10(id="modal")
        div.modal-footer
            button.btn.btn-primary(ng-click="ok()") OK

                                        