doctype 
html(ng-controller="myLoginCtrl")
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/formStyling.css")
        //script(src="/app/workout/dynamicFields.js")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="#/") DCY-Workout Regimen
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse(ng-controller="myLoginCtrl")
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/login",ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
        
    body
        
        .container
            .well  
                form.form-horizontal(name="workoutForm")
                    fieldset    
                        legend Create Workout
                        .form-group
                            label.col-md-2.control-label(for="name") Workout Name:
                            .col-md-10
                                input.form-control(name="name", ng-model="name")
                        .form-group
                            label.col-md-2.control-label(for="category") Exercise Category:
                            .col-md-10
                                select.form-control(name="category", ng-model="category",ng-change="getData()")
                                    option(value="All") All
                                    option(value="Arms") Arms
                                    option(value="Legs") Legs
                                    option(value="Abs") Abs
                                    option(value="Chest") Chest
                                    option(value="Back") Back
                                    option(value="Shoulders") Shoulders
                                    option(value="Calves") Calves
                        .form-group
                            label.col-md-2.control-label(for="exercise") Exercise:
                            .col-md-10
                                select.form-control(name="exercise", ng-model="exercise")
                                    option(ng-repeat="e in e") {{e.name}}
                        .form-group
                            label.col-md-2.control-label(for="sets") Sets:
                            .col-md-10
                                input.form-control(id="sets",name="sets", type="Number", ng-model="sets", min="1", max="10", ng-change="addReps()")
                        .form-group
                            label.col-md-2.control-label(for="reps") Reps:
                            .col-md-10(id="reps")
                            
                                
                        .form-group
                            .col-md-10.cold-md-offset-2
                                .pull-right
                                    button.btn.btn-primary(ng-click="create()") Submit
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.