doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/formStyling.css")
        //script(src="/app/workout/dynamicFields.js")
        include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="regimenForm")
                    fieldset    
                        legend Edit Regimen
                        .form-group
                            label.col-md-2.contorl-label(for="name") Edit Regimen Name:
                            .col-md-10
                                input.form-control(name="name",type="text",ng-model="name")
                button.btn.btn-primary(ng-click="editRegimenName()") Edit Regimen
        