doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/formStyling.css")
        include ../../../server/includes/scripts
        
    body
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Edit Exercise
                        .form-group
                            label.col-md-2.control-label(for="name") Exercise Name:
                            .col-md-10
                                input.form-control(name="name", type="text", ng-model="name")
                        .form-group
                            label.col-md-2.control-label(for="description") Exercise Description:
                            .col-md-10
                                textarea.form-control(name="description", type="String", ng-model="description", required)
                        .form-group
                            label.col-md-2.control-label(for="equipment") Exercise Equipment:
                            .col-md-10
                                input.form-control(name="equipment", type="String", ng-model="equipment")
                        .form-group
                            .col-md-10.cold-md-offset-2
                                .pull-right
                                    button.btn.btn-primary(ng-click="edit()") Submit