doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        include ../../../server/includes/scripts
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="#/") DCY-Workout Regimen
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse(ng-controller="myLoginCtrl")
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/login",ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
        
    body
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                        .form-group
                            div(ng-repeat="e in data")
                                a(href="/#/exercises/{{e._id}}")
                                    h3 {{e.name}}
                                p {{e.equipment}}
                                a(href="/#/exercises/{{e._id}}/edit",ng-show="identity.currentUser.username == '{{e.owner}}'")
                                    button.btn.btn-primary
                                        span.glyphicon.glyphicon-pencil
                                button.btn.btn-primary(ng-show="identity.currentUser.username == '{{e.owner}}'", ng-click="delete(e._id)")
                                    span.glyphicon.glyphicon-trash
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.
        