doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/exerciseStyling.css")
        include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                        a(href="/#/exercises/create")
                            button.btn.btn-primary Create
                        .form-group
                            div.well(ng-repeat="e in data")
                                a(href="/#/exercises/{{e._id}}")
                                    h3 {{e.name}}
                                p {{e.equipment}}
                                a(href="/#/exercises/{{e._id}}/edit",ng-show="identity.currentUser.username == '{{e.owner}}'")
                                    button.btn.btn-primary
                                        span.glyphicon.glyphicon-pencil
                                button.btn.btn-danger(ng-show="identity.currentUser.username == '{{e.owner}}'", ng-click="delete(e._id)")
                                    span.glyphicon.glyphicon-trash
    
        
        