doctype
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet",href="/vendor/angular-chart.js/dist/angular-chart.css")
        link(rel="stylesheet",href="/css/homeStyling.css")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
        
        
    body
        canvas.chart.chart-line(id="line" height="10px" width="10px" chart-data="i" chart-labels="labels" chart-legend=
"true" chart-series="series" chart-click="onClick")
            
        
        div.regimen 
            section.firstSection
                div.day
                    h1 Monday
                h3 {{mon.exercises[0].exercise}}
                h4 Set: {{mon.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{mon.exercises[0].reps[i]}}
            section.secondSection
                div.day
                    h1 Tuesday
                h3 {{tues.exercises[0].exercise}}
                h4 Set: {{tues.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{tues.exercises[0].reps[i]}}
                
            section.thirdSection
                div.day
                    h1 Wedensday
                h3 {{wed.exercises[0].exercise}}
                h4 Set: {{wed.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{wed.exercises[0].reps[i]}}
            section.fourthSection
                div.day
                    h1 Thursday
                h3 {{thur.exercises[0].exercise}}
                h4 Set: {{thur.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{thur.exercises[0].reps[i]}}
            section.fifthSection
                div.day
                    h1 Friday
                h3 {{friday.exercises[0].exercise}}
                h4 Set: {{friday.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{friday.exercises[0].reps[i]}}
            section.sixthSection
                div.day
                    h1 Saturday
                h3 {{sat.exercises[0].exercise}}
                h4 Set: {{sat.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{sat.exercises[0].reps[i]}}
            section.seventhSection
                div.day
                    h1 Sunday
                h3 {{sun.exercises[0].exercise}}
                h4 Set: {{sun.exercises[0].sets}}
                h4(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]") {{sun.exercises[0].reps[i]}}
        