doctype
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet",href="/vendor/angular-chart.js/dist/angular-chart.css")
        link(rel="stylesheet",href="/css/homeStyling.css")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
        
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/#/") DCY-Workout Regimen
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right(ng-controller="myLoginCtrl")
                            li 
                                a(href="/login", ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
        
    body
        canvas.chart.chart-line(id="line" height="10px" width="10px" chart-data="i" chart-labels="labels" chart-legend=
"true" chart-series="series" chart-click="onClick")
            
        
        div.regimen 
            section.firstSection
                h1 Monday
            section.secondSection
                h1 Tuesday
            section.thirdSection
                h1 Wedensday
            section.fourthSection
                h1 Thursday
            section.fifthSection
                h1 Friday
            section.sixthSection
                h1 Saturday
            section.seventhSection
                h1 Sunday
       
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.