doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/landingPage.css")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
        
body                                
    .container 
        .jumbotron
            h1 Single Point
            p The best FREE web workout regimen.
            a(href="#/signup") 
                button.btn Sign Up
            
