doctype 
html(ng-controller="myLoginCtrl")
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/landingPage.css")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
        
header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="#/") Single Point
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/#/login", ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
body                                
    .container 
        .jumbotron
            h1 Single Point
            p The best FREE web workout regimen.
            a(href="#/signup") 
                button.btn Sign Up
            
 footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.