doctype 
html(ng-controller="myLoginCtrl")
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/loginForm.css")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        include ../../../server/includes/scripts
        include ../../../server/includes/currentUser
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="#/") Single Point
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/#/login", ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
                            
        
    body
        .container
            .well
                form.form-horizontal(ng-hide="identity.isAuthenticated()")
                    fieldset
                        legend Login With
                            .form-group
                                a(href="/auth/facebook", id="facebook") 
                                    button.btn.btn-primary(id="facebookButton")
                                        i.fa.fa-facebook-official
                                a(href="/auth/google", id="google")
                                    button.btn.btn-primary(id="googleButton")
                                        i.fa.fa-google-plus-square
                        h1 Sign In
                        .form-group
                            input.form-control(placeholder="Username", ng-model="username")
                        .form-group
                            input.form-control(type = "password",placeholder="Password", ng-model="password")
                        button.btn.btn-primary.pull-right(ng-click="signin(username,password)") Log in
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.
        