doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/regimenStyle.css")
        //script(src="/app/workout/dynamicFields.js")
        include ../../../server/includes/scripts
        
    body
        
        .container  
                form.form-horizontal(name="regimenForm")
                    fieldset    
                        legend Regimens
                        .form-group(ng-repeat="e in d")
                            a(href="/#/regimens/{{e._id}}" id="aRegimens")
                                div.well(id="regimens" ng-show="identity.currentUser.username == e.owner")
                                    h2 {{e.name}}
                                    p {{e.owner}}
                a(href="/#/regimen/create")
                    button.btn.btn-primary Create Regimen
