doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/registerStyle.css")
        include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="signupForm")
                    fieldset    
                        legend Register
                        .form-group
                            label.col-md-2.control-label(for="email") Email
                            .col-md-10
                                input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
                        .form-group
                            label.col-md-2.control-label(for="name") Username
                            .col-md-10
                                input.form-control(name="username", type="text", placeholder="Username", ng-model="username", required)
                        .form-group
                            label.col-md-2.control-label(for="password") Password
                            .col-md-10
                                input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
                        .form-group
                            .col-md-10.cold-md-offset-2
                                .pull-right
                                    button.btn.btn-primary(ng-click="signup()") Submit
    
        