doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/workoutStyling.css")
        //script(src="/app/workout/dynamicFields.js")
        include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="workoutForm")
                    fieldset    
                        legend Workouts
                        .form-group
                            div.well(ng-repeat="e in data" ng-show="e.shared == true && e.owner != identity.currentUser.username")
                                a(href="/#/workouts/{{e._id}}")
                                    h2 {{e.name}}
                                h3(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]")      {{e.exercises[i].exercise}}
                                p {{e.owner}}
        