doctype 
html(ng-controller="myLoginCtrl")
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="#/") DCY-Workout Regimen
                        ul.nav.navbar-nav
                            li
                                a(href="/#/exercises") Exercises
                            li
                                a(href="/#/workouts") Workouts
                            li
                                a Regimens
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right(ng-controller="myLoginCtrl")
                            li 
                                a(href="/login",ng-hide="identity.isAuthenticated()") Login 
                            li(class="dropdown",ng-show="identity.isAuthenticated()")
                                a(class="dropdown-toggle",data-toggle="dropdown",ng-show="identity.isAuthenticated()") {{identity.currentUser.username}}
                                    span.caret
                                ul(class="dropdown-menu")
                                    li
                                        a(ng-click="signout()") Log Out
        
    body
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                            div
                                h1 {{item.name}}
                                p {{item.category}}
                                p {{item.description}}
                                p {{item.equipment}}


                                
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.