doctype 
header
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/workoutStyling.css")
        include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="workoutForm")
                    fieldset    
                        legend Workout
                            div
                                h1 {{item.name}}
                                div(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]")
                                    h3 {{item.exercises[i].exercise}}
                                    h4 {{item.exercises[i].sets}}
                                    h5(ng-repeat="r in [0,1,2,3,4,5,6,7,8,9]") {{item.exercises[i].reps[r]}}
                                p {{item.owner}}
                                a(href="/#/workout/{{item._id}}/edit")
                                button.btn.btn-primary(ng-hide="identity.currentUser.username == item.owner", ng-click="download()") Download
                                button.btn.btn-primary(ng-show="identity.currentUser.username == item.owner", ng-click="share()") Share
                                button.btn.btn-danger(ng-show="identity.currentUser.username == item.owner" ng-click="delete()") Delete
                                
    
        
        