doctype 
html
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") DCY-Workout Regimen
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/login") Login 
                              //a(href="/register") Register
        
    body
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                            div
                                h1 {{item.name}}
                                p {{item.category}}
                                p {{item.description}}
                                p {{item.equipment}}
                                
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.