doctype 
html
    head
            title Capstone
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
            link(rel="stylesheet", href="/vendor/toastr/toastr.css")
            link(rel="stylesheet", href="/css/site.css")
            link(rel="stylesheet", href="/css/exerciseStyling.css")
            include ../../../server/includes/scripts
        
    body
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                            div
                                h1 {{item.name}}
                                p {{item.category}}
                                p {{item.description}}
                                p {{item.equipment}}


                                
    
        
        