doctype 
html
    head
            title Capstone
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
            link(rel="stylesheet", href="/vendor/toastr/toastr.css")
            link(rel="stylesheet", href="/css/site.css")
            link(rel="stylesheet", href="/css/regimenStyle.css")
            //script(src="/app/workout/dynamicFields.js")
            include ../../../server/includes/scripts

        body

            .container
                .well(id="single")  
                    form.form-horizontal(name="regimenForm")
                        fieldset    
                            legend Regimen
                                h1 {{item.name}}
                                h2 Monday: {{mon.exercises[0].exercise}}
                                h2 Tuesday: {{tues.exercises[0].exercise}}
                                h2 Wednesday: {{wed.exercises[0].exercise}}
                                h2 Thursday: {{thur.exercises[0].exercise}}
                                h2 Friday: {{friday.exercises[0].exercise}}
                                h2 Saturday: {{sat.exercises[0].exercise}}
                                h2 Sunday: {{sun.exercises[0].exercise}}

                                button.btn.btn-primary(ng-click="set()") Set
                                button.btn.btn-danger(ng-click="delete()") Delete


