nav{
    background-color: #000;
    color:#fff;
}

.navbar-inverse{
    background-color: #000;
}

legend{
    color:#808080;
}
body{
    background-color: #363636;
}
.well{
    background-color: #000;
    border: none;
    color: #808080;
    margin-left: 100px;
    margin-right: 100px;
}

.form-control{
    margin-right: 50px;
}

.btn-primary{
    background-color: #808080;
    border:none;
}
.btn-primary:hover{
    background-color:#87000C; 
}



