
nav{
    background-color: #000;
    color:#fff;
}

.navbar-inverse{
    background-color: #000;
}

.navbar-inverse > .active{
    color: #000;
    background: #FFF;
}

body{
    background-color: #363636;
}
canvas.chart.chart-line{
    color:#fff;
}
.btn-primary{
    background-color: #808080;
    border:none;
}

div{
    color:#fff;
}

section{
    border: 1px solid #fff;
    float:left;
    padding-right: 50px;
    height: 230px;
    position: relative;
    left: 50px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

section h1{
    position: relative;
    text-align: center;
}

section h3{
    position: relative;
    left: 25px;
}
section h4{
    position: relative;
    left: 25px;
}

section.sixthSection{
    position: relative;
}

section.seventhSection{
    position: relative;

}

div.day{
    border-bottom: solid 1px #fff;
    position:relative;
    left: 25px;
}