
nav{
    background-color: #000;
    color:#fff;
}

.navbar-inverse{
    background-color: #000;
}

.navbar-inverse > .active{
    color: #000;
    background: #FFF;
}

body{
    background-color: #363636;
}
canvas.chart.chart-line{
    color:#fff;
}
.btn-primary{
    background-color: #808080;
    border:none;
}

div{
    color:#fff;
}

section{
    background-color: #fff;
    color: #000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    float:left;
    padding-right: 50px;
    height: 250px;
    width: 330px;
    position: relative;
    left: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    top: 50px;
    opacity: .8;
    
}

section h1{
    position: relative;
    text-align: center;
}

section h3{
    position: relative;
    left: 25px;
}
section h4{
    position: relative;
    left: 25px;
}

#today{
    background-color:#004887;
}

div.day{
    opacity: 1;
    position: relative;
    border-bottom: 1px solid #fff;
    background-color: #87000C;
    width: 330px;
    bottom: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

section h3,h4{
    position:relative;
    bottom: 70px;
}


section.todaySection{
    opacity: 1;
}

@media only screen and (min-width : 992px){
  section.fifthSection{
    position:relative;
    top: 100px;
}

section.sixthSection{
    position:relative;
    top: 100px;
}

section.seventhSection{
    position:relative;
    top: 100px;
}
   

}


@media only screen and (min-width : 768px) {
    section.secondSection{
        position:relative;
        top: 85px;
    }
    section.thirdSection{
        position:relative;
        top: 85px;
    }
    section.fourthSection{
        position:relative;
        top: 120px;
    }
     section.fifthSection{
        position:relative;
        top: 120px;
    }

    section.sixthSection{
        position:relative;
        top: 150px;
    }

    section.seventhSection{
        position:relative;
        top: 150px;
    }
   
}


@media only screen and (min-width : 992px) {
    section.secondSection{
        position:relative;
        top: 50px;
    }
    section.thirdSection{
        position:relative;
        top: 50px;
    }
    section.fourthSection{
        position:relative;
        top: 50px;
    }
    section.fifthSection{
        position:relative;
        top: 100px;
    }

    section.sixthSection{
        position:relative;
        top: 100px;
    }

    section.seventhSection{
        position:relative;
        top: 100px;
    }
}

