nav{
    background-color: #000;
    color:#fff;
}

.navbar-inverse{
    background-color: #000;
}

body{
    background-image:url("../images/photo_39443_20150720.jpg");
    background-size: 2000px 900px;
    background-repeat: no-repeat;
    background-color: #000;
}
.btn-primary{
    background-color: #808080;
    border:none;
}
.well{
    position:relative;
    top: 50px;
    background-color:#000;
    border: none;
    color:#808080;
    margin-left:200px;
    margin-right:200px;
}
@media only screen and (min-width : 768px) {
    .well{
        margin-left:200px;
        margin-right:100px;
    }
    #facebook{
        position: relative;
        right: 0px !imporant;

    }
    i{
        position:relative;
        left: 5px;
    }
    #google{
        position:relative;
        left: 100px !important;
    }

   
}
legend{
    color:#808080;
}

.form-group input{
    position:relative;
    top: 5px;
}

#register{
    position: relative;
    left: 120px;
}

p{
    position: relative;
    top: 30px;
}

button{
    background-color: #000;
    color: #fff;
}

#facebookButton{
    background-color:#3B5998;
}

#googleButton{
    background-color: #d34836;
}

#facebook{
   position: relative;
    left: 30px;
    padding-bottom: 50px;

}
i{
    position:relative;
    left: 5px;
}
#google{
    position:relative;
    left: 50px;
}