.navbar-inverse > .active{
    color: #000;
    background: #FFF;
}
li{
    display:inline;
}

body{
    padding-top : 61px;
}

button{
    position: relative;
    text-align: center;
}

footer{
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    top: 450px;
}

footer p{
    border-top: 1px solid #d7e0e2;
}


.toast-top-right{
    top: 70px;
}

img{
    width: 100px;
    height: 100px;
}

