doctype 
html(ng-app='app')
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        include ../../../server/includes/scripts
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") DCY-Workout Regimen
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/login") Login 
                                //a(href="/register") Register
        
    body(ng-controller='myExerciseCtrl')
        
        .container
            .well  
                form.form-horizontal(name="exerciseForm")
                    fieldset    
                        legend Exercises
                        .form-group
                            div(ng-repeat="e in data")
                                a(href="/#/exercises/{{e._id}}")
                                    h3 {{e.name}}
                                p {{e.equipment}}
    
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.
        