doctype 
html(ng-app='app')
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        include ../../../server/includes/scripts
    div(ng-view)
    
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.