doctype 
html
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") DCY-Workout Regimen
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
                            li 
                                a(href="/login", ng-hide="identity.isAuthenticated()") Login 
                                //a(href="/register") Register
        
    body(ng-app='app')
        include ../../../server/includes/currentUser
        canvas(id="canvas-holder" width="400" height="400")
        include ../../../server/includes/scripts
        
        div.regimen 
            section.firstSection
                h1 Monday
            section.secondSection
                h1 Tuesday
            section.thirdSection
                h1 Wedensday
            section.fourthSection
                h1 Thursday
            section.fifthSection
                h1 Friday
            section.sixthSection
                h1 Saturday
            section.seventhSection
                h1 Sunday
       
       script(type="text/javascript", src="/app/main/myChart.js")
        
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.