doctype 
html 
    head
        title Capstone
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    header
        nav 
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") DCY-Workout Regimen
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li 
                                a(href="/login") Login 
                                //a(href="/register") Register
        
    body(ng-app='app')
        block main-content
        include scripts
        
    footer.container.text-center
        p &copy; 2013 UnluckyXIII Corp.